.program {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6rem;
  &__encrypt {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin: 2rem 0;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__decrypt {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin: 2rem 0;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
